/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap'); */

.wholeComponent {
  margin: 0;
  padding: 50px;
  outline: none;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  background: #000000;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden;
}

.firstLine {
  font-size: 65px;
  padding-left: 30px;
  font-weight: 800;
  padding-top: 40px;
}

.largeTextFirst {
  font-size: 25px;
  padding-left: 30px;

}

.mailCollectorComponent {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  height: 50%;
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.inputLabel {
  text-align: left;
}

.inputField {
  height: 30px;
}

.cloud-box {
  width: 597px;
  margin-left: 800px;
  margin-top: -190px;
  display: flex;
  
}

.cloud {
  margin-left: 50px;
  width: 950px;
  height: 500px;
}

.organization {
  margin-top: 290px;
  margin-left:-1150px;
  margin-bottom: 0px;
  font-size: 25px;
}

.companyLogos{
  /* display: flex; */
  margin-left: 150px;
  margin-top: -130px;
}
.razorpay{
margin-left: 200px;
margin-top: -55px;
}
.azure{
  margin-left: 400px;
  margin-top: -50px;
}
.tensorflow{
  margin-left: 600px;
  margin-top: -75px;
}


/* a{
  text-decoration: none;
  color: inherit;
}
header{
  position: sticky;
  z-index: 30;
  top: 0;
}
nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}
.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}
.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}
.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  background-color: black;
}
.nav__menu-list.active{
  right: 0;
}
.nav__link{
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover{
 font-weight: bold;
}

.center{
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu-bar{
    display: none;
  }
  .nav__menu-list{
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -16px;
    left: 0;
    background-color: whitesmoke;
    transition: all 0.2s;
  }
  
  .nav__link:hover:before{
   width: 100%;
  }
} */
@media screen and (min-width: 320px)and (max-width: 775px) {
  .wholeComponent {
    margin: 0;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    background: #000000;
    text-align: left;
    overflow-y: hidden;
  }

  .firstLine {
    font-size: 32px;
    padding-left: 30px;
    font-weight: 800;
    padding-top: 40px;
  }

  .firstLine-span {
    font-size: 50px;
  }

  .largeTextFirst {
    font-size: 18px;
    padding-left: 20px;

  }

  .cloud-box {
    width: 597px;
    margin-left: 0px;
    margin-top: -190px;
  }

  .cloud {
    /* position: 'fixed'; */
    /* left: '1000px'; */
    margin-left: 50px;
    width: 950px;
    height: 500px;
  }
  .organization {
    margin-top: 240px;
    margin-left:-590px;
    margin-bottom: 150px;
    font-size: 20px;
    font-weight: 700;
    width: 300px;
    text-align: center;
  }
  
.companyLogos{
  /* display: flex; */
  margin-left:20px;
  margin-top: -150px;
}
.awslogo{
  margin-top: -60px;
}
.razorpay{
margin-left: 190px;
margin-top: -60px;
}
.azure{
  margin-left: 10px;
  margin-top: 50px;
}
.tensorflow{
  margin-left: 190px;
  margin-top: -75px;
}

}

@media screen and (min-width: 778px)and (max-width: 950px) {
    .organization {
    margin-top: 300px;
    margin-left:-1400px;
    margin-bottom: 150px;
    font-size: 30px;
    font-weight: 700;
    /* width: 300px; */
    text-align: center;
  }
  .companyLogos{
    /* display: flex; */
    margin-left: -33px;
    margin-top: -106px;
  }
}